/* CSS file for ERCore Alternate Views */
#edit-start-date-value-datepicker-popup-0, #edit-end-date-value-datepicker-popup-0 {
    width: 10em;
}
#edit-field-er-inst-ref-target-id, #edit-field-er-publication-status-value, #edit-field-er-collab-inst-ref-target-id {
    width: 15em;
}
#edit-field-er-publication-type-value {
    width: 12em;
}
h2.list-title {
    margin-bottom:0;
}
div.collaboration-dates, div.event-date {
    font-weight: bold;
    font-size: 1.1em;
}
.collaborator-status {
    font-weight: bold;
}
.ercore-view-list li {
    margin-bottom:7px;
}
.ercore-view-list li label {
    font-weight: bold;
    display: inline;
}
.ercore-view-list .title {
    font-weight: bold;
    font-size: 1.1em;
}
.engagement-total span.label {

}
.views-exposed-form .views-exposed-widgets .views-exposed-widget {
    padding-right: .5em;
}
.views-exposed-form .views-exposed-widgets .container-inline-date .form-item input,
.views-exposed-form .views-exposed-widgets .container-inline-date > .form-item {
    margin-right: 0;
}
.collaborator-item {
    border-bottom: 1px solid #CCC;
    padding: 5px 0 5px 2.5em;
}
.collaborator-item.first {
    border-top: 1px solid #CCC;
}
.collaborator-item .counter {
    font-weight: bold;
    font-size: 1.1em;
    float: left;
    margin-left: -2em;
}
.collaborator-item .collaborator-name {
    font-weight: bold;
}
.collaborator-item .collaborator-name:after, .collaborator-item .collaboration-title:after {
    content:" - ";
}
.collaborator-item .collaboration-title {
    font-style: italic;
}
.collaborator-item .collaboration-institution {
    font-weight: bold;
}